trunk/Web Services/wsdl/biomart.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.api.biomart.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.api.biomart.org/" name="BioMartSoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.api.biomart.org/" schemaLocation="http://central.biomart.org:80/martsoap?xsd=1" />
</xsd:schema>
</types>
<message name="getAttributes">
<part name="parameters" element="tns:getAttributes" />
</message>
<message name="getAttributesResponse">
<part name="parameters" element="tns:getAttributesResponse" />
</message>
<message name="getFilters">
<part name="parameters" element="tns:getFilters" />
</message>
<message name="getFiltersResponse">
<part name="parameters" element="tns:getFiltersResponse" />
</message>
<message name="getRootGuiContainer">
<part name="parameters" element="tns:getRootGuiContainer" />
</message>
<message name="getRootGuiContainerResponse">
<part name="parameters" element="tns:getRootGuiContainerResponse" />
</message>
<message name="getMarts">
<part name="parameters" element="tns:getMarts" />
</message>
<message name="getMartsResponse">
<part name="parameters" element="tns:getMartsResponse" />
</message>
<message name="getDatasets">
<part name="parameters" element="tns:getDatasets" />
</message>
<message name="getDatasetsResponse">
<part name="parameters" element="tns:getDatasetsResponse" />
</message>
<message name="getFilterValues">
<part name="parameters" element="tns:getFilterValues" />
</message>
<message name="getFilterValuesResponse">
<part name="parameters" element="tns:getFilterValuesResponse" />
</message>
<message name="getContainers">
<part name="parameters" element="tns:getContainers" />
</message>
<message name="getContainersResponse">
<part name="parameters" element="tns:getContainersResponse" />
</message>
<message name="getLinkables">
<part name="parameters" element="tns:getLinkables" />
</message>
<message name="getLinkablesResponse">
<part name="parameters" element="tns:getLinkablesResponse" />
</message>
<message name="getResults">
<part name="parameters" element="tns:getResults" />
</message>
<message name="getResultsResponse">
<part name="parameters" element="tns:getResultsResponse" />
</message>
<portType name="PortalServiceImpl">
<operation name="getAttributes">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getAttributesRequest" message="tns:getAttributes" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getAttributesResponse" message="tns:getAttributesResponse" />
</operation>
<operation name="getFilters">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getFiltersRequest" message="tns:getFilters" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getFiltersResponse" message="tns:getFiltersResponse" />
</operation>
<operation name="getRootGuiContainer">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getRootGuiContainerRequest" message="tns:getRootGuiContainer" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getRootGuiContainerResponse" message="tns:getRootGuiContainerResponse" />
</operation>
<operation name="getMarts">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getMartsRequest" message="tns:getMarts" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getMartsResponse" message="tns:getMartsResponse" />
</operation>
<operation name="getDatasets">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getDatasetsRequest" message="tns:getDatasets" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getDatasetsResponse" message="tns:getDatasetsResponse" />
</operation>
<operation name="getFilterValues">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getFilterValuesRequest" message="tns:getFilterValues" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getFilterValuesResponse" message="tns:getFilterValuesResponse" />
</operation>
<operation name="getContainers">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getContainersRequest" message="tns:getContainers" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getContainersResponse" message="tns:getContainersResponse" />
</operation>
<operation name="getLinkables">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getLinkablesRequest" message="tns:getLinkables" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getLinkablesResponse" message="tns:getLinkablesResponse" />
</operation>
<operation name="getResults">
<input wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getResultsRequest" message="tns:getResults" />
<output wsam:Action="http://soap.api.biomart.org/PortalServiceImpl/getResultsResponse" message="tns:getResultsResponse" />
</operation>
</portType>
<binding name="PortalServiceImplPortBinding" type="tns:PortalServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getFilters">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRootGuiContainer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMarts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDatasets">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getFilterValues">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getContainers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLinkables">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getResults">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BioMartSoapService">
<port name="PortalServiceImplPort" binding="tns:PortalServiceImplPortBinding">
<soap:address location="http://central.biomart.org:80/martsoap" />
</port>
</service>
</definitions>